<div id="bstr--notice" class="gdpr__holder" style="display: block;">
  <div class="gdpr__notice">
    <div class="gdpr__text">
      <p>This site requires cookies in order to provide all of its functionality.</p>
    </div>
    <div class="gdpr__buttons">
      <button
        data-gdpr-accept=""
        onclick=""
        class="button button--primary button--filled  button--primary__filled "
        href=""
      >
        Accept
      </button>
    </div>
  </div>
</div>

<style>
        .gdpr__holder {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 9999;
      padding: 12px;
      width: 100%;
  }
        .gdpr__notice {
      height: 100%;
      width: 100%;
      background: #FFFFFF;
      display: flex;
      align-items: center;
      padding: 16px;
      box-shadow: 0px 0px 24px rgba(0,0,0,0.16);
  }
        .gdpr__text {
      padding-right: 8px;
  }


  .gdpr__buttons {
      margin-left: auto;
  }

  .button--primary__filled, .shopify-challenge__button {
      background-color: #051538;
      color: #FFFFFF;
  }
</style>
