<div class="page-width">
  <div class="accordion-container">
    <h2 class="acctitle">{{ section.settings.accordian1 }}</h2>
    <div class="blockstar">
      {% for block in section.blocks %}
        <div class="set">
          <a href="#">
            {{ block.settings.accordiatitle }}
            <i class="fa fa-plus"></i>
          </a>
          <div class="clscontent">
            <p class="paregraphwriter">
              {{ block.settings.accordianperegraph }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
   "name":"Faqcontain",
   "settings":[
		{
           "type": "text",
           "id": "accordian1",
           "default": "Quick links",
           "label": "Heading"
        }

   ],
   "blocks":[
      {
         "type":"image",
         "name":"block",
         "settings":[

		{
             "type": "text",
             "id": "accordiatitle",
               "label": "Accordian Heading"
          },
  	{
             "type": "textarea",
             "id": "accordianperegraph",
               "label": "Accordian Peregraph"
          }



         ]
      }
   ],
   "presets":[
      {
         "name":{

            "en":"Faqcontain"
         },
         "category":{


            "en":"Faqcontain"
         }
      }
   ]
}
{% endschema %}
