
<div class="vdy_auto">
  <h3>{{ section.settings.para }}</h3>
   <video controls autoplay muted loop>
   <source src="{{ section.settings.video_url }}" type="video/mp4">
   <p>Sorry, your broswer doesn't support embedded videos.</p>
 </video>
</div>
 <style>
   .vdy_auto{
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 5rem;
   }
   .vdy_auto > video{
     width:100%;
   }
   @media only screen and (max-width: 767px) {
   .vdy_auto {
    padding: 0 1.5rem;
}
}
 </style>
{% schema %}
{
   "name": "Video Autoplay",
   "settings": [
        {
        "id": "para",
       "type": "richtext",
       "label": "Heading"
      },
        {
      "id" : "video_url",
      "type" : "url",
      "label" : "Video link"
    }
   ],
   "presets": [
   {
     "category": "Text",
     "name": "Video Autoplay"
   }
 ]

}
{% endschema %}