<div>
  <video autoplay="autoplay">
  <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
<!--   <pre><video autoplay="autoplay" width="300" height="150">
<source src="myvideo.mp4" type="video/mp4" />
<source src="myvideo.ogg" type="video/ogg"/></video></pre> -->
</div>
{% schema %}
{
   "name": "Video Autoplay",
   "settings": [
        {
        "id": "txt1",
       "type": "text",
       "label": "Heading"
      },
        {
      "type": "video",
      "id": "video",
      "label": "Select Video"
    }
   ],
   "presets": [
   {
     "category": "Text",
     "name": "Video Autoplay"
   }
 ]

}
{% endschema %}