
<div class="vdy_auto">
   <video controls autoplay muted loop>
   <source src="{{ section.settings.video_url }}" type="video/mp4">
   <p>Sorry, your broswer doesn't support embedded videos.</p>
 </video>
</div>
 <style>
   .vdy_auto{
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 5rem;
   }
   .vdy_auto > video{
     width:100%;
   }
 </style>
{% schema %}
{
   "name": "Video Autoplay",
   "settings": [
        {
        "id": "txt1",
       "type": "text",
       "label": "Heading"
      },
        {
      "type": "video",
      "id": "video",
      "label": "Select Video"
    },
        {
      "id" : "video_url",
      "type" : "url",
      "label" : "Video link"
    }
   ],
   "presets": [
   {
     "category": "Text",
     "name": "Video Autoplay"
   }
 ]

}
{% endschema %}